= render 'products'
- if (((@products_list.total_count / 8).round) > params[:page].to_i + 1)
  .loadmore
    = link_to "+ load more products", { page: (params[:page] ? params[:page].to_i + 1 : 2) }, remote: true
