$site-green: #34a994;


.allprods {
  display: inline-block;
  width: 880px;
  margin-top: 9px;
  margin-bottom: 62px;
  text-transform: uppercase;

  .prodbox {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 29px;
    padding-bottom: 29px;
    border-bottom: 1px solid #dfdfdf;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 700;
    color: #595959;

    .prodbox-desc {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .prodbox-error {
      margin: 0 auto;
      color: red;
    }

    .prodbox-func {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 337px;
    }

    .prodboxphoto {
      height: 75px;
      width: 75px;
      background-color: #ccc;
      margin-right: 16px;
    }

    .oneprice {
      font-size: 18px;
      font-weight: 300;
      color: #595959;
    }

    .totalprice {
      font-weight: 700;
      font-size: 18px;
      color: #595959;
    }

    .deleter {
      cursor: pointer;
      display: inline-block;
      height: 12px;
      width: 12px;
      background: image-url("icons_sprite.png") no-repeat -22px -2px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.prodbox-func .countblock {
  position: relative;
  height: 40px;
  width: 72px;
  font-size: 15px;
  font-weight: 400;
  color: #595959;

  .prodinp {
    box-sizing: border-box;
    height: 40px;
    width: 72px;
    padding-right: 35px;
    text-align: center;
    border: 1px solid #ddd;
    outline-color: #ddd;

    -webkit-appearance: none;
    -webkit-border-radius:0;
    border-radius:0;

    &:focus {
      border: 1px solid transparent;
    }
  }

  .plusblock {
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 6px;
    height: 27px;
    width: 27px;
    background-color: #efefef;

    &:before {
      position: absolute;
      top: 7px;
      left: 7px;
      height: 13px;
      width: 13px;
      content: '';
      background: image-url("icons_sprite.png") no-repeat -116px -2px;
    }


  }

}

/* disable arrows in input */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Инфа по заказу и кнопка заказать*/
.cartbox {
  float: right;
  width: 241px;
  margin-top: 9px;

  .cbtitle {
    height: 25px;
    font-weight: 700;
    color: #595959;
    font-size: 16.64px;
    border-bottom: 2px solid #ddd;
    text-transform: uppercase;
  }

  .subship {
    height: 110px;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #ddd;
    padding-top: 29px;
    box-sizing: border-box;

    .subtot {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    .ship {
      display: flex;
      justify-content: space-between;
    }

    .left {
      font-weight: 400;
      color: #595959;
      font-size: 15px;
      text-transform: uppercase;
    }

    .right {
      font-size: 17px;
      font-weight: 700;
      color: #595959;
    }
  }

  .ordertotal {
    display: flex;
    justify-content: space-between;
    height: 61px;
    line-height: 61px;
    letter-spacing: 1px;
    font-weight: 700;
    color: #595959;
    text-transform: uppercase;

    .tleft {
      font-size: 15px;

      .magicblock {
        display: inline-block;
        padding-top: 17px;
        line-height: 14px;
      }
    }

    .tright {
      font-size: 24px;
    }
  }

  .cartbutton {
    cursor: pointer;
    height: 54px;
    background-color: $site-green;
    line-height: 54px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 19.03px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  .contin {
    height: 50px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;

    a {
      color: #676666;
      display: block;
      text-decoration: none;
    }
  }
}